In [10]:
import pandas as pd
import numpy as np
from twitter import *
import pymysql.cursors
from sqlalchemy import create_engine
from sqlalchemy.types import CHAR,INT
import datetime
import t_search
import t_insert
import t_tok

In [11]:
tok=t_tok.t_tok()
twitter = Twitter(auth = OAuth(tok[0],tok[1],tok[2],tok[3]))

In [12]:
tweets_count=10

In [13]:
statuses = twitter.statuses.user_timeline(screen_name = "@realDonaldTrump",count=tweets_count,tweet_mode='extended')

created_at=[]
for data in statuses:
    dt_time=datetime.datetime.strptime(data['created_at'].replace('+0000',''),'%a %b %d %H:%M:%S %Y')
    created_at.append(dt_time)
print(created_at)
retweet=[data['retweet_count'] for data in statuses]
favorite_count=[data['favorite_count'] for data in statuses]
text=[data["full_text"].replace("“","_").replace("’","_") for data in statuses]

[datetime.datetime(2020, 8, 1, 3, 52, 38), datetime.datetime(2020, 8, 1, 3, 46, 45), datetime.datetime(2020, 8, 1, 3, 8, 21), datetime.datetime(2020, 8, 1, 0, 32, 15), datetime.datetime(2020, 8, 1, 0, 13, 51), datetime.datetime(2020, 8, 1, 0, 10, 42), datetime.datetime(2020, 7, 31, 21, 36, 40), datetime.datetime(2020, 7, 31, 21, 31), datetime.datetime(2020, 7, 31, 19, 55, 35), datetime.datetime(2020, 7, 31, 19, 37, 56)]

In [14]:
df = pd.DataFrame({"create_time": created_at,
                    'retweet_count': retweet,
                    'favorite_count': favorite_count,
                    'text': text})
df

,create_time,retweet_count,favorite_count,text
0,2020-08-01 03:52:38,29265,142759,Homeland Security is not leaving Portland unti...
1,2020-08-01 03:46:45,31860,148139,Obama worked harder for Hillary Clinton and th...
2,2020-08-01 03:08:21,29560,179767,We have more Cases because we do more Testing....
3,2020-08-01 00:32:15,26624,110966,"We beat Obama 4 years ago, he worked harder th..."
4,2020-08-01 00:13:51,22571,85953,"I_m with you all the way, thank you!\nhttps://..."
5,2020-08-01 00:10:42,8482,0,"RT @WhiteHouse: ""The single best way to defeat..."
6,2020-07-31 21:36:40,13941,52461,https://t.co/t6R84x4PbP
7,2020-07-31 21:31:00,20336,78868,I am thrilled to be back in my home state of F...
8,2020-07-31 19:55:35,14697,0,RT @SteveScalise: WATCH → Dr. Fauci says @real...
9,2020-07-31 19:37:56,56089,181488,"The Democrats are holding back the $1,200 to $..."

In [15]:
try:
    db_data = 'mysql+pymysql://root:123456@localhost:3306/twitter_1?charset=utf8mb4'
    engine = create_engine(db_data)
    print("成功連結")
except Exception as ex:
    print("問題發生:",ex)

成功連結

In [16]:

for i in range(tweets_count):
    print('count:',i+1)
    if created_at[i] in t_search.time():
        print('I have it')
    else:
        print('do something')
        db_data = pymysql.connect("localhost","root","123456","twitter_1" )
        cursor = db_data.cursor()
        
        sql="INSERT INTO twitter_1(create_time, retweet_count, favorite_count, text) VALUES ('%s', '%d', %d, '%s')" %(df.iloc[i,0], df.iloc[i,1], df.iloc[i,2], df.iloc[i,3]);

        cursor.execute(sql)
        results = cursor.fetchall()
        db_data.commit()
        db_data.close()

count: 1
成功連結
I have it
count: 2
成功連結
I have it
count: 3
成功連結
I have it
count: 4
成功連結
I have it
count: 5
成功連結
I have it
count: 6
成功連結
I have it
count: 7
成功連結
I have it
count: 8
成功連結
I have it
count: 9
成功連結
I have it
count: 10
成功連結
I have it